In [2]:
import env
import wrangle_zillow as wrangle
import numpy as np
import pandas as pd

In [1]:
zillow = pd.read_csv('zillow.csv')

NameError: name 'pd' is not defined

In [8]:
wrangle.summarize(zillow)

SUMMARY REPORT
=====================================================


Dataframe head:
        id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
0  1727539  14297519                    NaN                       NaN
1  1387261  17052889                    NaN                       NaN
2    11677  14186244                    NaN                       NaN

   basementsqft  bathrooms  bedrooms  buildingclasstypeid  \
0           NaN       3.50      4.00                  NaN
1           NaN       1.00      2.00                  NaN
2           NaN       2.00      3.00                  NaN

   buildingqualitytypeid  calculatedbathnbr  ...  censustractandblock  \
0                    NaN               3.50  ...    60590630072012.00
1                    NaN               1.00  ...    61110010023006.00
2                    NaN               2.00  ...    60590218022012.00

   logerror  transactiondate  airconditioningdesc  architecturalstyledesc  \
0      0.03       2017-01-01                  NaN                     NaN
1      0.06       2017-01-01                  NaN                     NaN
2      0.01       2017-01-01                  NaN                     NaN

   buildingclassdesc  heatingorsystemdesc        propertylandusedesc  \
0                NaN                  NaN  Single Family Residential
1                NaN                  NaN  Single Family Residential
2                NaN                  NaN  Single Family Residential

   storydesc  typeconstructiondesc
0        NaN                   NaN
1        NaN                   NaN
2        NaN                   NaN

[3 rows x 68 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          77380 non-null  int64
 1   parcelid                    77380 non-null  int64
 2   airconditioningtypeid       24953 non-null  float64
 3   architecturalstyletypeid    206 non-null    float64
 4   basementsqft                50 non-null     float64
 5   bathrooms                   77380 non-null  float64
 6   bedrooms                    77380 non-null  float64
 7   buildingclasstypeid         15 non-null     float64
 8   buildingqualitytypeid       49671 non-null  float64
 9   calculatedbathnbr           76771 non-null  float64
 10  decktypeid                  614 non-null    float64
 11  finishedfloor1squarefeet    6023 non-null   float64
 12  area                        77184 non-null  float64
 13  finishedsquarefeet12        73748 non-null  float64
 14  finishedsquarefeet13        41 non-null     float64
 15  finishedsquarefeet15        3009 non-null   float64
 16  finishedsquarefeet50        6023 non-null   float64
 17  finishedsquarefeet6         386 non-null    float64
 18  fips                        77380 non-null  float64
 19  fireplacecnt                8276 non-null   float64
 20  fullbathcnt                 76771 non-null  float64
 21  garagecarcnt                25474 non-null  float64
 22  garagetotalsqft             25474 non-null  float64
 23  hashottuborspa              1538 non-null   float64
 24  heatingorsystemtypeid       49439 non-null  float64
 25  latitude                    77380 non-null  float64
 26  longitude                   77380 non-null  float64
 27  lotsizesquarefeet           69141 non-null  float64
 28  poolcnt                     16137 non-null  float64
 29  poolsizesum                 867 non-null    float64
 30  pooltypeid10                464 non-null    float64
 31  pooltypeid2                 1074 non-null   float64
 32  pooltypeid7                 15042 non-null  float64
 33  propertycountylandusecode   77380 non-null  object
 34  propertylandusetypeid       77380 non-null  float64
 35  propertyzoningdesc          50330 non-null  object
 36  rawcensustractandblock      77380 non-null  float64
 37  regionidcity                75909 non-null  float64
 38  regionidcounty              77380 non-null  float64
 39  regionidneighborhood        30890 non-null  float64
 40  regionidzip                 77330 non-null  float64
 41  roomcnt                     77380 non-null  float64
 42  storytypeid                 50 non-null     float64
 43  threequarterbathnbr         10096 non-null  float64
 44  typeconstructiontypeid      222 non-null    float64
 45  unitcnt                     50562 non-null  float64
 46  yardbuildingsqft17          2388 non-null   float64
 47  yardbuildingsqft26          70 non-null     float64
 48  year_built                  77117 non-null  float64
 49  numberofstories             17560 non-null  float64
 50  fireplaceflag               172 non-null    float64
 51  structuretaxvaluedollarcnt  77268 non-null  float64
 52  tax_value                   77379 non-null  float64
 53  assessmentyear              77380 non-null  float64
 54  landtaxvaluedollarcnt       77378 non-null  float64
 55  taxamount                   77375 non-null  float64
 56  taxdelinquencyflag          2886 non-null   object
 57  taxdelinquencyyear          2886 non-null   float64
 58  censustractandblock         77136 non-null  float64
 59  logerror                    77380 non-null  float64
 60  transactiondate             77380 non-null  object
 61  airconditioningdesc         24953 non-null  object
 62  architecturalstyledesc      206 non-null    object
 63  buildingclassdesc           15 non-null     object
 64  heatingorsystemdesc         49439 non-null  object
 65  propertylandusedesc         77380 non-null  object
 66  storydesc                   50 non-null     object
 67  typeconstructiondesc        222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
None
=====================================================


Dataframe Description:
              id     parcelid  airconditioningtypeid  \
count   77380.00     77380.00               24953.00
mean  1495126.49  13007149.52                   1.81
std    860905.69   3481368.13                   2.97
min       349.00  10711855.00                   1.00
25%    752050.00  11538296.75                   1.00
50%   1497870.00  12531548.50                   1.00
75%   2240480.25  14211843.75                   1.00
max   2982274.00 167689317.00                  13.00

       architecturalstyletypeid  basementsqft  bathrooms  bedrooms  \
count                    206.00         50.00   77380.00  77380.00
mean                       7.39        679.72       2.30      3.05
std                        2.73        689.70       1.00      1.14
min                        2.00         38.00       0.00      0.00
25%                        7.00        273.00       2.00      2.00
50%                        7.00        515.00       2.00      3.00
75%                        7.00        796.50       3.00      4.00
max                       21.00       3560.00      18.00     16.00

       buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count                15.00               49671.00           76771.00  ...
mean                  3.93                   6.53               2.32  ...
std                   0.26                   1.72               0.98  ...
min                   3.00                   1.00               1.00  ...
25%                   4.00                   6.00               2.00  ...
50%                   4.00                   6.00               2.00  ...
75%                   4.00                   8.00               3.00  ...
max                   4.00                  12.00              18.00  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt   tax_value  \
count         17560.00         172.00                    77268.00    77379.00
mean              1.43           1.00                   189315.98   490137.46
std               0.54           0.00                   230088.56   653447.67
min               1.00           1.00                       44.00     1000.00
25%               1.00           1.00                    84265.00   207000.00
50%               1.00           1.00                   136499.50   358976.00
75%               2.00           1.00                   218787.50   569003.00
max               6.00           1.00                 11421790.00 49061236.00

       assessmentyear  landtaxvaluedollarcnt  taxamount  taxdelinquencyyear  \
count        77380.00               77378.00   77375.00             2886.00
mean          2016.00              301096.94    5995.57               14.09
std              0.00              492599.03    7622.89                2.19
min           2016.00                 161.00      19.92                3.00
25%           2016.00               85504.00    2715.59               14.00
50%           2016.00              203383.50    4450.72               15.00
75%           2016.00              366802.25    6927.80               15.00
max           2016.00            48952198.00  586639.30               99.00

       censustractandblock  logerror
count             77136.00  77380.00
mean     60496735236341.99      0.02
std       1535251869244.56      0.17
min      60371011101000.00     -4.66
25%      60373109005001.75     -0.02
50%      60376032003008.00      0.01
75%      60590423251008.00      0.04
max     483030105084015.00      5.26

[8 rows x 57 columns]
=====================================================
DataFrame value counts:
(-2632.9260000000004, 298541.5]    7739
(298541.5, 596734.0]               7682
(596734.0, 894926.5]               7585
(894926.5, 1193119.0]              7694
(1193119.0, 1491311.5]             7827
(1491311.5, 1789504.0]             7813
(1789504.0, 2087696.5]             7794
(2087696.5, 2385889.0]             7698
(2385889.0, 2684081.5]             7709
(2684081.5, 2982274.0]             7839
Name: id, dtype: int64

(10554877.537, 26409601.2]    77349
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64

(0.987, 2.2]    23133
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1574
Name: airconditioningtypeid, dtype: int64

(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64

(-0.019, 1.8]    14909
(1.8, 3.6]       56435
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathrooms, dtype: int64

(-0.017, 1.6]     4209
(1.6, 3.2]       49530
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedrooms, dtype: int64

(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64

(0.988, 2.1]       35
(2.1, 3.2]        329
(3.2, 4.3]       9482
(4.3, 5.4]       2088
(5.4, 6.5]      13462
(6.5, 7.6]       5971
(7.6, 8.7]      14645
(8.7, 9.8]       2299
(9.8, 10.9]       313
(10.9, 12.0]     1047
Name: buildingqualitytypeid, dtype: int64

(0.982, 2.7]    52389
(2.7, 4.4]      21699
(4.4, 6.1]       2361
(6.1, 7.8]        176
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64

(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64

(37.131, 730.8]      702
(730.8, 1417.6]     3025
(1417.6, 2104.4]    1733
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64

(92.487, 3679.2]      73879
(3679.2, 7230.4]       3134
(7230.4, 10781.6]       148
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: area, dtype: int64

(106.198, 2308.1]     59592
(2308.1, 4488.2]      12862
(4488.2, 6668.3]       1069
(6668.3, 8848.4]        161
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64

(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 5
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64

(562.957, 4102.2]     2811
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64

(31.576, 1286.3]      3138
(1286.3, 2528.6]      2552
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64

(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64

(6036.925, 6044.4]    50550
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20593
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6237
Name: fips, dtype: int64

(0.995, 1.4]    7008
(1.4, 1.8]         0
(1.8, 2.2]       995
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64

(0.982, 2.7]    52406
(2.7, 4.4]      22399
(4.4, 6.1]       1699
(6.1, 7.8]        121
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64

(-0.015, 1.4]     5906
(1.4, 2.8]       18608
(2.8, 4.2]         887
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64

(-4.252000000000001, 425.1]    11937
(425.1, 850.2]                 13160
(850.2, 1275.3]                  323
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1538
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64

(0.976, 3.3]    33563
(3.3, 5.6]          0
(5.6, 7.9]      14840
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       59
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      846
Name: heatingorsystemtypeid, dtype: int64

(33338047.759000003, 33487451.0]     1045
(33487451.0, 33635375.0]             5318
(33635375.0, 33783299.0]            10047
(33783299.0, 33931223.0]            14789
(33931223.0, 34079147.0]            14221
(34079147.0, 34227071.0]            18893
(34227071.0, 34374995.0]             6261
(34374995.0, 34522919.0]             3146
(34522919.0, 34670843.0]             2321
(34670843.0, 34818767.0]             1339
Name: latitude, dtype: int64

(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       1997
(-119091260.0, -118899182.0]       1494
(-118899182.0, -118707104.0]       2660
(-118707104.0, -118515026.0]       5926
(-118515026.0, -118322948.0]      15424
(-118322948.0, -118130870.0]      15361
(-118130870.0, -117938792.0]      14219
(-117938792.0, -117746714.0]      12688
(-117746714.0, -117554636.0]       7390
Name: longitude, dtype: int64

(-6734.775000000001, 697313.4]    68855
(697313.4, 1394390.8]               227
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16137
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64

(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      322
(466.8, 614.4]      306
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64

(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       464
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1074
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: pooltypeid2, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       15042
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64

0100    26713
122     13045

In [9]:
wrangle.missing_value_summary(zillow)

                       Num Missing  Percent Missing
buildingclassdesc            77365            99.98
buildingclasstypeid          77365            99.98
finishedsquarefeet13         77339            99.95
storytypeid                  77330            99.94
basementsqft                 77330            99.94
...                            ...              ...
latitude                         0             0.00
fips                             0             0.00
bedrooms                         0             0.00
bathrooms                        0             0.00
propertylandusetypeid            0             0.00

[68 rows x 2 columns]

In [11]:
zillow = wrangle.handle_missing_values(zillow)

In [12]:
zillow.shape

(77184, 34)